<section class="upcoming-shows-location upcoming-shows-{{ include.location | downcast }}">
    <h3>{{ include.location }}</h3>
    <ul class="upcoming-show-list">
        {% assign sortedShows = include.shows | sort: "datetime" %}
        {% for show in sortedShows %}
        <li class="upcoming-show">
            <div class="show-title">{{ show.title }}</div>
            <div class="show-location">{{ show.venue }}</div>
            <div class="show-date" data-date="{{ show.date }}" data-day="{{ show.day }}" data-week="{{ show.week }}" data-start="{{ show.start }}"></div>
            <div class="show-time">{{ show.time }}</div>
            <div class="show-price">{{ show.price }}</div>
            <a class="button show-booking-button" href="{{ show.bookingLink }}">Book now</a>
        </li>
        {% endfor %}
    </ul>
</section>
