@charset "utf-8";

$white: #fff1f3;
$black: #181112;
$light-pink: #ffb6c1;
$dark-pink: #a50018;
$light-grey: #eae9e9;

$logoWidth: 1800px;
$logoHeight: 1850px;

$max-width: 1200px;

$border-subtle: 1px solid $light-grey;

$spacing-s: 6px;
$spacing-m: 12px;
$spacing-l: 24px;

$font-stack: 'Fira Sans', sans-serif;

* {
    box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-size: 20px;
  line-height: 1.4;
  color: $black;
  background: $white;
  margin: 0;
  padding: 0;
}

a {
    color: $dark-pink;
    text-decoration: none;
    transition: all 0.3s ease-out;

    &:hover {
        color: $light-pink;
        background: $black;
    }

    &.active {
        color: $black;
        background: $light-pink;
    }
}

h1 a:hover {
    background: none;
}

img {
    max-width: 100%;
    display: block;
}

header {
    max-width: $max-width;
    margin: 0 auto;
}

.content {
    max-width: 768px;
    margin: 0 auto;
}

nav ul, .upcoming-show-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-logo {
    width: $logoWidth / 20;
    height: $logoHeight / 20;
}

h1 {
    margin: 0;
    padding: $spacing-m $spacing-m;
    display: flex;

    a {
        height: $logoHeight / 20;
    }
}

h2, h3 {
    margin: 0 0 $spacing-m 0;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

p {
    margin: 0 0 1em 0;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
}

button, a.button {
    display: inline-block;
    background: $black;
    color: $light-pink;
    padding: $spacing-m;
}

.main-nav-list-item, .social-nav-list-item {
    text-transform: uppercase;
    border-bottom: $border-subtle;

    a {
        display: block;
        padding: $spacing-s $spacing-m;
    }
}

.main-nav-list-item:first-child {
    border-top: $border-subtle;
}

.icon-facebook-square {
    color: #3B5998;
}

.icon-twitter-square {
    color: #00aced;
}

.icon-youtube-play {
    color: #cd201f;
}

.icon-instagram {
    background: #d93175;
    color: white;
    border-radius: 4px;
}

.upcoming-shows {
    background: $light-pink;
}

.upcoming-shows-inner {
    max-width: $max-width;
    margin: 0 auto;
    padding: $spacing-l $spacing-m;
}

.upcoming-show {
    display: flex;
    flex-wrap: wrap;
}

.show-title {
    font-weight: bold;
}

.show-location {
    flex-basis: 100%;
}

.show-booking-button {
    flex-basis: 100%;
}

.show-time {
    margin-left: $spacing-s;
    flex: 1;
}

.hero-image {
    margin: 0 auto;
}

.home-page .content {
    padding-top: $spacing-l;
    font-size: 1.8em;
    max-width: $max-width;
}

.blurb {
    padding: 0 $spacing-m;
}

.player-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.player {
    list-style: none;
    width: 150px;
    text-align: center;
}

@media (min-width: 768px) {
    header {
        display: flex;
    }

    .main-nav {
        flex: 1;
    }

    .main-nav-list, .social-nav-list {
        display: flex;
        line-height: $logoHeight / 20 + 2 * $spacing-m;

        a {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .main-nav-list-item, .social-nav-list-item {
        border: none;
    }

    .social-nav-text {
        display: none;
    }

    .social-nav .icon {
        width: 1.8em;
        height: 1.8em;
    }


    .icon-instagram {
        border-radius: 8px;
    }

    .upcoming-shows-locations {
        display: flex;
        flex-wrap: wrap;
    }

    .upcoming-shows-location {
        flex: 1;
        margin: 0 $spacing-m;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

/* Shop integration */
.SprdMain {
    max-width: $max-width;
    font-family: $font-stack;
}

.sprd-header {
    display: none;
}

.customHeader, .customPageBackground, .customFooter, .sprd-bg-s1, .sprd-bg-m1 {
    background-color: $white !important;
}

    
