<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="shortcut icon" href="/favicon.ico">-->
        <title>{% if page.title %}{{ page.title | escape }} | {% endif %}The Same Faces &emdash; Improvised comedy based in Leicester and Northampton</title>
        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700" rel="stylesheet">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    </head>
    <body>
        <header>
            <h1>
                <a href="/">
                    <svg class="main-logo">
                        <use xlink:href="/assets/logos-icons.svg#logo-same-faces"></use>
                    </svg>
                </a>
            </h1>
            <nav class="main-nav">
                <ul class="main-nav-list">
                    <li class="main-nav-list-item">
                        <a href="/shows">Shows</a>
                    </li>
                    <li class="main-nav-list-item">
                        <a href="/players">Players</a>
                    </li>
                    <li class="main-nav-list-item">
                        <a href="/workshops">Workshops</a>
                    </li>
                    <li class="main-nav-list-item">
                        <a href="/corporate">Corporate</a>
                    </li>
                </ul>
            </nav>
            <nav class="social-nav">
                <ul class="social-nav-list">
                    <li class="social-nav-list-item">
                        <a href="http://facebook.com/TheSameFaces">
                            <svg class="icon icon-facebook-square">
                                <use xlink:href="/assets/logos-icons.svg#icon-facebook-square"></use>
                            </svg>
                            <span class="social-nav-text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-nav-list-item">
                        <a href="http://twitter.com/TheSameFaces">
                            <svg class="icon icon-twitter-square">
                                <use xlink:href="/assets/logos-icons.svg#icon-twitter-square"></use>
                            </svg>
                            <span class="social-nav-text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-nav-list-item">
                        <a href="http://youtube.com/SameFaces1000">
                            <svg class="icon icon-youtube-play">
                                <use xlink:href="/assets/logos-icons.svg#icon-youtube-play"></use>
                            </svg>
                            <span class="social-nav-text">YouTube</span>
                        </a>
                    </li>
                    <li class="social-nav-list-item">
                        <a href="http://instagram.com/TheSameFaces">
                            <svg class="icon icon-instagram">
                                <use xlink:href="/assets/logos-icons.svg#icon-instagram"></use>
                            </svg>
                            <span class="social-nav-text">Instagram</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="main" aria-label="Content">
            {{ content }}
        </main>
        {% if page.customJs %}
        {% for file in page.customJs %}
        <script src="{{file}}"></script>
        {% endfor %}
        {% endif %}
    </body>
</html>
